@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 1.25rem;
}

:root {
    --small-screen-min-width:   350px;
    --small-screen-max-width:   768px;
    --small-screen-min-height:  650px;
    --small-screen-max-height:  915px;

}

body {
    width: 100vw;
    height: 100vh;
    /* gradient for background */
    display: flex;
    justify-content: center;
    align-items: center;

	  -webkit-animation: bg-anim 1s ease-in-out infinite alternate both;
	          animation: bg-anim 1s ease-in-out infinite alternate both;
}

main.device-layout {
    width: 50vh;
    height: 90vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* add shadow to make it look more 3d */
    -webkit-box-shadow: 0px 0px 37px 1px rgba(0, 2, 107, 0.56);
    -moz-box-shadow: 0px 0px 37px 1px rgba(0, 2, 107, 0.56);
    box-shadow: 0px 0px 37px 1px rgba(0, 2, 107, 0.56);
    /* maybe border radius? */
}
.screen-box {
    height: 40vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction:  column;
}

.screen-box > * {
    word-break: break-all;
    font-family: 'Righteous', cursive;
}

.previous-operand {
    color: #666;
}

.current-operand {
    color: #333;
    font-size: 2rem;
}
.buttons {
    height: 50vh;
    display: grid;
    grid-template:
        "_7 _8 _9 PM DL"
        "_4 _5 _6 MP DV"
        "_1 _2 _3 MN EQ"
        "AC _0 DT PL EQ";
}

button {
    background: none;
    background-color: white;
    border: none;
}

button:hover {
    background-color: hsl(0, 0%, 75%);
    cursor: pointer;
}

#_0 {
    grid-area: _0;
}
#_1 {
    grid-area: _1;
}
#_2 {
    grid-area: _2;
}
#_3 {
    grid-area: _3;
}
#_4 {
    grid-area: _4;
}
#_5 {
    grid-area: _5;
}
#_6 {
    grid-area: _6;
}
#_7 {
    grid-area: _7;
}
#_8 {
    grid-area: _8;
}
#_9 {
    grid-area: _9;
}
#DT {
    grid-area: DT;
}
#PL {
    grid-area: PL;
}
#MN {
    grid-area: MN;
}
#MP {
    grid-area: MP;
}
#DV {
    grid-area: DV;
}
#PM {
    grid-area: PM;
}
#DV {
    grid-area: DV;
}
#DL {
    grid-area: DL;
    background-color: hsl(0, 70%, 75%);
}
#AC {
    grid-area: AC;
    background-color: hsl(0, 70%, 75%);
}
#AC:hover, #DL:hover {
    background-color: hsl(0, 70%, 50%);;
}
#EQ {
    grid-area: EQ;
}


@-webkit-keyframes bg-anim {
  0% {
    background: rgb(199,143,255);
    background: linear-gradient(90deg,
              rgb(199,143,255) 0%,
              rgb(199,75,150) 10%,
              rgb(203,74,129) 100%
            );
  }
  100% {
    background: rgb(199,143,255);
    background: linear-gradient(270deg,
              rgb(199,143,255) 0%,
              rgb(199,75,150) 90%,
              rgb(203,74,129) 100%
            );
  }
}
@keyframes bg-anim {
  0% {
    background: rgb(199,143,255);
    background: linear-gradient(90deg,
              rgb(199,143,255) 0%,
              rgb(199,75,150) 10%,
              rgb(203,74,129) 100%
            );
  }
  100% {
    background: rgb(199,143,255);
    background: linear-gradient(270deg,
              rgb(199,143,255) 0%,
              rgb(199,75,150) 90%,
              rgb(203,74,129) 100%
            );
  }
}
