* {
  margin: 0;
  padding: 0;
  border: 2px solid black;
}

html {
  z-index: -4;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -3;
}
main::before {
  content: " ";
  background-color: hsl(120, 60%, 50%);
  height: 50%;
  width: 10%;
  margin-bottom: 15%;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: black;
}

main {
  width: 75vh;
  height: 75vh;
  background-color: hsl(213, 31%, 73%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}
main::after {
  content: " ";
  background-color: hsl(120, 60%, 50%);
  height: 50%;
  width: 10%;
  margin-bottom: 15%;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: black;
}

.square-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(300, 90%, 50%);
  height: 80%;
  width: 70%;
  z-index: 0;
  padding: 1%;
}

.hair {
  width: 95%;
  height: 7%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  background-color: grey;
  align-self: flex-start;
  z-index: 0;

}

.fringe {
  height: 2vh;
  width: 2vh;
  background-color: white;
  z-index: 0;
}
.face {
  border: none;
  z-index: 0;

}
.eyebrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 400px;
  border: none;
  z-index: 5;
}
.left-eyebrow,
.right-eyebrow {
  height: 40px;
  width: 160px;
  border-radius: 57% 0% 51% 46% / 0% 11% 83% 100%;
  display: inline;
  background-color: pink;
  border-width: 10px 2px 2px 2px;
  z-index: 5;
}
.left-eyebrow {
  transform: rotate(15deg);
}
.right-eyebrow {
  transform: rotate(-15deg);
}

.eyes {
  border: none;
  width: 400px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate(0, -100px);
  z-index: 4;
}
.left-eye,
.right-eye {
  height: 150px;
  width: 150px;
  background-color: white;
}

.mouth {
  height: 100px;
  width: 100px;
}
